<html>
    <head>
        <title>
            Cutomer Details Form 
        </title>
        
        
        <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="newstyle.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social.css">
    <style>
        body{
	background-image: url("hospital2.jpeg");
	background-size:100% 700px;
	background-repeat: no-repeat;
	background-size: cover;

}</style>
    </head>
    <body>
       <h1 style="text-align: center;color:black;">CLICK THE BUTTON TO DOWNLOAD THE FILE</h1>
        <div id="reservationForm" class="row row-content align-items-center" >
                <div class="col-12 offset-2 col-md-8 offset-md-2">
                    <div class="card">
                        <h3 class="card-header bg-primary text-white ">Download Form</h3>
                        <div class="card-block">
                            <form  method ="post" id="register" action="" onclick="">
                                <div class="form-group row md-6 col-form-label">
                                   

                                    
                                </div>
                                <div class="form-group row">
                                   
                                    <div class="container" alighn="left" class="offset-4 col-md-4">
                                       <a href="/return-files" target="blank"> <button type="submit" name ="generalization" class="btn btn-dark btn-block btn-lg " onclick="">Download</button></a>
                                    </div>
                                    
                                    
                                
                                </div>
                                
                                
                                    
                                 
                                 
                                   

                            
                                 
                            
                            </form>
                        </div>
                    </div>
            </div>
                            
    </body>
</html>

